body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grid_container {
    width: 45%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width : 800px) {
    #grid_container {
        width: 95%;
    }
}